@font-face {
    font-family: "Barlow, sans-serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(169, 179, 244);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.contenidoPrincipal {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(60px, auto) 74vh minmax(50px, auto);
    height: 100vh;
    grid-template-areas:
        "encabezado encabezado"
        "area1 area2"
        "pie pie";
}

.contenidoPrincipal .encabezado {
    grid-area: encabezado;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: 0.1fr 1fr;
}

.encabezadoImg {
    width: 60px;
    height: 60px;
    margin-top: 40px;
    place-self: center;
}

.encabezadoTitulo {
    margin-top: 40px;
    font-weight: 600;
    font-size: x-large;
    color: #0a3871;
}
/* css del area del encriptador */
.contenidoPrincipal .area1 {
    grid-area: area1;
    display: grid;
    grid-template-rows: 2.5fr 0.1fr 0.4fr;
    margin: 0 auto;
    align-items: center;
}
.area1textarea{
    background: none;
    border: none;
    margin: 20px 20px 20px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(4, 17, 41);
    resize:none;
}

.area1.area1textarea::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(126, 93, 5);
}

.area1textarea:focus{
    outline: none;
}

.area1mensaje {
    background: none;
    border: none;
    margin: 20px 20px 20px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(4, 17, 41);
    resize: none;
    outline: none;
}

.text::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: rgb(126, 93, 5);
}

.text:focus {
    outline: none;
}

.condiciones {
    display: grid;
    margin-left: 40px;
    grid-auto-flow: column;
    justify-content: flex-start;
}

.admiracion {
    width: 30px;
    height: 30px;
    margin-top: -8px;
    filter: hue-rotate(120dg)
}

.condiciones p {
    margin-left: 10px;

}

.area1botones {
    display: grid;
    grid-auto-flow: column;
}

/*
.botones {
    background: #0a3871;;
    cursor: pointer;
    border: none;
    padding: 16px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 18px;
    margin: 20px;
    width: 300px;
    height: 60px;
}

.botones::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: 400%;
    border-radius: 10px;
    filter: blur(12px);
}
*/

/* css del mensaje encriptado o desencriptado*/
.contenidoPrincipal .area2 {
    grid-area: area2;
    display: grid;
    background: #fff;
    border-radius: 32px;
    margin: 20px;
    margin-right: 120px;
    min-width: 360px;

}

.area2info {
    margin: 0 32px;
    text-align: center;
    color: #225e5c;
}

.area2mensaje::placeholder {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #102958;
    opacity: 1;
    line-height: normal;
    vertical-align: middle;
}

.area2mensaje {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    filter: hue-rotate(120deg);
    background-color: #fff;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    color: #225e5c;
    text-align: center;
    resize: none;
    margin: 0 auto;
    width: 250px;
    margin-top: 50px;
}

.area2mensaje:focus {
    outline: none;
}

.botoncopiar.botones {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 60px;
    color: #fff;
    background-color: #0a3871;
}

.contenidoPrincipal .pie {
    grid-area: pie;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hechoPor {
    margin-right: 10px;
    text-align: center;
}

.imgGithub {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

/* E X P E R I M E N T O */

.wrapper{
  position: relative;
  cursor: pointer;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height:10px;
  padding: 16px 20px;
}
button{
  width:200px;
  height:40px;
  background: linear-gradient(to left top, rgb(81, 68, 191) 50%, rgb(81, 68, 191) 50%);
  border-style: none;
  color:#fff;
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgb(205, 167, 212));
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(205, 167, 212));
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), rgb(205, 167, 212));
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), rgb(205, 167, 212));
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
  animation-play-state: paused;
}


/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
  

/* diseño responsive */
  /* pantallas grandes */

  @media screen and (max-width: 1200px) {
    .contenidoPrincipal {
      max-width: 900px;
    }
  }
   /* diseño responsive */
  /* pantallas pc */
  @media screen and (max-width: 1060px) {
    .contenidoPrincipal {
      max-width: 700px;
      margin: 0 auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
        "encabezado"
        "area1"
        "area2"
        "pie";
    }
    .contenidoPrincipal .area1 {
      grid-template-rows: 400px 10px 100px;
    }
    .area1mensaje {
      height: 350px;
    }
    .arae1botones {
      margin: 0 auto;
    }
    .contenidoPrincipal .area2 {
      justify-content: center;
      height: 350px;
    }
    .area2 {
      width: 95%;
    }
    .area2mensaje {
      background-image: none;
      width: 500px;
      height: 100px;
    }
    .area2info {
      margin: 0 auto;
      text-align: center;
    }
    .botoncopiar.botones {
      width: auto;
      margin-top: -10px;
    }
  }
   /* diseño responsive */
  /* pantallas tablet */
  @media screen and (max-width: 768px) {
    .contenidoPrincipal {
      max-width: 600px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
        "encabezado"
        "area1"
        "area2"
        "pie";
    }
    .contenidoPrincipal .area1 {
      grid-template-rows: 340px 10px 175px;
    }
    .area1mensaje {
      height: 300px;
      width: 100%;
    }
    .area1botones {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .condiciones {
      margin-left: 10px;
      justify-content: left;
    }
    .contenidoPrincipal .area2 {
      justify-content: center;
      height: 300px;
      width: 100%;
      margin: auto;
    }
    .area2mensaje {
      width: 100%;
      height: 200px;
    }
    .contenidoPrincipal .pie {
      margin-top: 35px;
      font-size: 0.75rem;
    }
  }
   /* diseño responsive */
  /* pantallas celular */
  @media screen and (max-width: 480px) {
    .encabezado {
      flex-direction: column;
      align-items: center;
    }
    .encabezadoImg {
      margin: 0 auto;
      max-width: 50px;
    }
    .encabezadoTitulo {
      font-size: 2.2rem;
      text-align: center;
    }
    .contenidoPrincipal .area1 {
      grid-template-rows: 400px 20px 200px;
    }
    .area1mensaje {
      height: 250px;
      width: 85%;
    }
    .area1botones {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
    .contenidoPrincipal .area2 {
      justify-content: center;
      height: 260px;
      width: 100%;
      margin: auto;
    }
    .area2mensaje {
      width: 100%;
      height: 150px;
    }
    .botones {
      margin: 10px;
    }
    .contenidoPrincipal .pie {
      margin-top: 10px;
      font-size: 1.0rem;
    }
  }